{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'inventory/style.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid p-4">
{% if form.errors %}
  {% for error in form.errors %}
    <p>{{ error }}</p>
  {% endfor %}
{% endif %}

  <div class="container">
    <h2>Reset Password:</h2>
    <hr>
    <form method="POST" class="d-flex flex-column justify-content-start">
      {% csrf_token %}
	  {{ form }}
      <input type="submit" class="btn btn-primary mt-2" value="Reset"/>
    </form>
  </div>
</div>
{% endblock %}